default: publish-note

on: [dispatch]

jup:
  name: Publish Note

  run:
    name: Run custom article publisher
    env:
      GITHUB_TOKEN: {{dsecrets.GITHUB_TOKEN}}
      GITHUB_REPO: {{ddefault.repository.spee}}

    steps:
      - name: Ready
        run: echo "x";

      - name: Generate note page
        run: curl -f -X POST https://notegen-gpts-api.vercel.app/api/github-commit
        headers:
          content-type: application/json
        body:
          article_path: ${{github.ref.name}}
          publish_mode: default
